* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
  }
  
  /* Header styling */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #004a86;
    color: white;
    position: relative;
}

/* Logo and image in header */
header .logo {
    display: flex;
    align-items: center;
    font-size: 26px;
    font-weight: bold;
}

header .logo img {
    margin-right: 15px;
    width: 60px;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

header nav a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    margin: 0 15px;
}

header nav a:hover {
    text-decoration: underline;
}
  
  main {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .calculator-form h2 {
    margin-bottom: 20px;
  }
  
  form label {
    display: block;
    margin: 10px 0 5px;
  }
  
  form input, form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  button {
    padding: 10px 20px;
    background-color: #5d6d7e;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 4px;
  }
  
  button:hover {
    background-color: #495561;
  }
  
 
  footer {
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
  }
  
  footer nav a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
  }
  